
body{
	background-color: whitesmoke;
}
	h1 {
		font-size: 60px;
		color: #910C05;
		text-shadow: 6px 6px #C9C5C5;
}

h2 {
		font-size: 40px;
		color: #DD231A;
		text-shadow: 6px 6px #C9C5C5;
		font-weight: bolder;
















	}
